*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: sans-serif
}
html{
    font-size: 16px;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
header{
    background-color: #7030cc;
}

nav{
    width: 95%;
    padding: 1.25em 3em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>img{
    filter: invert(100%);
}
nav>ul{
    gap: 3em;
    list-style-type: none;
    display: flex;
    align-items: center;
}

div.description{
    padding: 3em 0.625em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.description img{
    width: 100%;
}

div.right{
    flex-basis: 50%;
}

header div.left>h2{
    white-space: pre-line;
    margin-left: 0.66em;
    font-size: 3.75rem;
    margin-bottom: 0.8em;
    line-height: 1.4;
}

header div.left p{
    white-space: pre-line;
    margin-left: 2em;
    color: #e5daf6;
    font-size: 1.25rem;
    line-height: 1.4;
}

section.main{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

section.main>div.left{
    width: 60%;
}

section.main>div.right h2{
    margin-top: 2.5em;
    white-space: pre-line;
    font-size: 2.5rem;
    margin-bottom: 1.25em;
}

h4.feature-head{
    font-size: 2rem;
    font-weight: 600;
}
div.feature{
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    gap: 0.625em;
}

p.feature-para{
    white-space: pre-line;
}

footer{
    display: flex;
    flex-direction: column;
}

footer>h2{
    font-size: 2rem;
    margin: 0 auto;
    white-space: pre-line;
    text-align: center;
}

div.icons{
    display: flex;
    margin: 3em auto;
    gap: 3em;
}

div.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.625em;
    padding: 0.625em 1.5em;
    box-shadow:  4px 4px 3px 3px grey;
}
div.icon p{
    white-space: pre-line;
    text-align: center;
}

div.icon>h4{
    font-size: 1.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.2em;
}
.icon-image{
    height: 100px;
}

.circle{
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    border-radius: 50%;
}

.icon1{
    background-color: #faeaeb;
}

.icon2{
    background-color: #fbf0ee;
}

.icon3{
    background-color: #e9f4f6;
}

.icon4{
    background-color: #f2e7f5;
}

div.list-item{
    display: flex;
    align-items: center;
    gap: 0.32em;
}

span.bullet>img{
    width: 20px;
}

p.feature-para{
    margin-left: 30px;
}

button.nav-button{
    background-color: #1bbcef;
    width: 150px;
    height: 40px;
    color: #ffffff;
    align-self: center;
    outline: none;
    border: none;
    
}
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 2em;
    right: 1.5em;
    height: 20px;
    width: 30px;
    cursor: pointer;
}

span.bar {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transition: background-color 300ms ease-in-out;
}
@media(max-width:500px)
{
    html{
        font-size: 10px;
    }

    .hamburger{
        display: flex;
    }

    nav ul{
        display: none;
    }

    div.description{
        flex-direction: column-reverse;
    }

    section.main{
        flex-direction: column;
        align-items: center;
    }

    div.icons{
        flex-direction: column;
        align-items: center;
    }

    div.icon{
        width: 60%;
    }

    div.icon img{
        width: 50%;
    }

    div.icon p{
        white-space: normal;
    }
    .circle{
        height: 80px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: pink;
        border-radius: 50%;
    }
}